<div>
    <h1>Ajouter un membre</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
            <p-float-label>
                <input pInputText type="text" formControlName="username">
                <label>Username</label>
            </p-float-label>
            <app-form-error [control]="form.controls['username']"></app-form-error>
        </div>
        <div>
            <p-float-label>
                <input pInputText type="email" formControlName="email">
                <label>Email</label>
            </p-float-label>
            <app-form-error [control]="form.controls['email']"></app-form-error>
        </div>
        <div>
            <p-float-label>
                <p-dropdown formControlName="gender" [options]="genders" optionLabel="label" optionValue="value"></p-dropdown>
                <label>Genre</label>
            </p-float-label>
            <app-form-error [control]="form.controls['genre']"></app-form-error>
        </div>
        <div>
            <p-float-label>
                <p-calendar formControlName="birthDate" dateFormat="dd/mm/yy"></p-calendar>
                <label>Date de naissance</label>
            </p-float-label>
            <app-form-error [control]="form.controls['birthDate']"></app-form-error>

        </div>
        <div>
            <p-float-label>
                <p-input-number formControlName="elo"></p-input-number>
                <label>Elo</label>
            </p-float-label>
            <app-form-error [control]="form.controls['elo']"></app-form-error>

        </div>
        <div>
            <p-button type="submit" [disabled]="form.invalid || isLoading" [loading]="isLoading" label="Envoyer"></p-button>
        </div>
    </form>
</div>